---
import Form from "../components/Form";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Find out your silly name!</h1>
    <Form client:load />
  </main>
</Layout>
